html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000000;
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgb(36, 36, 36) 50%, rgb(62, 62, 62) 100%);
  background-size: 300%;
  animation: gradientBg 10s linear infinite alternate;
}

h3 {
  font-weight: 300;
  letter-spacing: 0.15em;
  transition: opacity 0.5s ease-in-out; 
}

@keyframes gradientBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
